html {
  height: 100%;
}

body {
  padding: 1.5em 1em;
}

%readable-body {
  box-sizing: border-box;
  max-width: 40em;
  margin: 0 auto;
}

.content {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid $hotel_gray;

  > header {
    @extend %readable-body;
  }
}

#gistbody {
  @extend %readable-body;
}

#gistid {
  font-size: em($heading_6);
  position: absolute;
  left: 1.5em;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid $hotel_gray;

  @media #{$tablet} {
    position: relative;
    left: 0;
    padding-bottom: 1.5em;
  }
}
#description {
  font-size: em($heading_2);
  color: $echo_gray;

  &.loading {
    -webkit-animation: throb 1s infinite alternate linear;
    -moz-animation: throb 1s infinite alternate linear;
    -ms-animation: throb 1s infinite alternate linear;
    -o-animation: throb 1s infinite alternate linear
  }
}

b, strong {
  color: $charlie_gray;
}

footer {
  text-align: center;
}


@-webkit-keyframes throb {
  0%   { opacity: 0.33; }
  100% { opacity: 1; }
}
@-moz-keyframes throb {
  0%   { opacity: 0.33; }
  100% { opacity: 1; }
}
@-ms-keyframes throb {
  0%   { opacity: 0.33; }
  100% { opacity: 1; }
}
@-o-keyframes throb {
  0%   { opacity: 0.33; }
  100% { opacity: 1; }
}