html {
  height: 100%;
}

body {
  padding: 1.5em 1em;
}

%readable-body {
  box-sizing: border-box;
  max-width: 36em;
  margin: 0 auto;
}

.sidebar {
  margin-bottom: 1.5em;
  
  hgroup {
    border-bottom: 1px solid $hotel_gray;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
  }

  h1 {
    font-size: em($heading_3);
  }
  h2 {
    font-size: em($heading_6);
    color: $echo_gray;
  }

  a {
    display: block;
    width: 100%;
  }

  @media #{$desktop} {
    position: fixed;
    width: 10em;
    left: 1.5em;
    
    a {
      margin-bottom: 1em;
    }
  }

  @media #{$tablet} {
    h1, h2, a {
      display: inline;
    }
    h2, a:last-child {
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1px solid $hotel_gray;
    }
  }
}

.content {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid $hotel_gray;

  header {
    @extend %readable-body;

    h1 {
      font-size: em($heading_2);
      margin-bottom: 1.5em;
      //padding-bottom: 1em;
      //border-bottom: 1px solid $hotel_gray;
    }
    h2 {
      font-size: em($heading_2);
      color: $echo_gray;
    }
  }
}

.entry-content {
  @extend %readable-body;
}

.user-gist-list {
  @extend %readable-body;

  li {
    padding: 0.5em 0;
    clear: both;
    
    time {
      display: inline-block;
      width: 5.5em;
    }
  }
}

b, strong {
  color: $charlie_gray;
}

footer {
  text-align: center;
}