// Twitter's 'Font-Awesome' is installed in Toadstool
// see http://goo.gl/4JkBd for list of icon options
// Stipe has all icon classes loaded as silent classes, to activate use the following example
// -----------------------------------------------------------------------
// .icon-glass {
// 	@extend %icon-glass;
// }



// Zocial's icon font is installed in Toadstool
// see http://goo.gl/t92t5 for list of icon options
// Stipe has all icon classes loaded as silent classes, to activate use the following example
// -----------------------------------------------------------------------
// .zocial-amazon {
// 	@extend %zocial-amazon;
// }



// Import of default text bootstrap settings
// -----------------------------------------------------------------------
@import "stipe/typography/default"; // Comment out if unwanted



// Customize the following to fit your specifications
// Commented out styles represent Toadstool's default bootstrap styles
// -----------------------------------------------------------------------
html {
	// font: em($font_size, 16) $primary_font_family;
	// line-height: baseline($font_size);
	// color: $primary_text;
}

h1 {
  color: $echo_gray;
}

h2 {
	color: $echo_gray;
}

h3 {
	color: $echo_gray;
}

h4 {
	color: $delta_gray;
}

h5 {
	color: $charlie_gray;
}

h6 {
  font-weight: bold;
  color: $alpha_gray;
}

// Standard body text support
// --------------------------------
p {
	// margin-bottom: baseline-margin($font_size);
	// text-indent: 0;
}

b {
	&:after {
		content: ""; // Override something coming from Stipe.
	}
}


// :link Pseudo-class is totally not necessary as I can tell
// code here to combat legacy code
a {
	&:link {
		color: $href_color;
		text-decoration: none;
	}
	&:hover, &:active {
		color: $href-hover;
		text-decoration: underline;
	}
	//&:visited {
	//	color: $href-visited;
	//}
	
	b, strong {
	  color: inherit;
	}
}

pre, code {
  @include border-radius(0.25em);

  border: 1px solid $golf_gray;
  font-family: $code_font_family;
  background: #FBFAF7;
}

pre {
  padding: 0.75em;
}

code {
  padding: 0.15em 0.5em 0;
  font-size: 0.7em;
}

pre code {
  border: 0;
  padding: 0;
}

ol, ul, pre {
  margin-bottom: 1.5em;
}

ol, ul {
  display: block;
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5em;
}

ul {
  list-style: disc;
}

li ul {
  list-style-type: circle;
}

li ul ul{
  list-style-type: square;
}

