.DS_Store
.bundle
.sass-cache/*
public/javascripts/app.js
public/javascripts/app.js.gz
public/javascripts/editor.js
public/javascripts/editor.js.gz
public/stylesheets/*
sass/.sass-cache/
#Gemfile.local
#Gemfile.local.lock
config/github.yml
tmp/*
*/tmp/*
.rvmrc
dump.rdb
node_modules
public/css
public/js
