<section class="content instapaper-body entry-content">
  <% @gist['files'].each do |x, file| %>
    <article class="file" data-filename="<%= file['filename'] %>">
      <%= file['rendered'] %>
    </article>    
  <% end %>
</section>


<% if settings.environment == :production %>
  <script src="/javascripts/app.js"></script>
<% else %>
	<script src="/javascripts/vendor/jquery-1.8.2.js"></script>
	<script src="/javascripts/vendor/Prettify/prettify.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-css.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-scss.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-sql.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-vim.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-yaml.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-apollo.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-clj.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-go.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-hs.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-lisp.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-lua.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-ml.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-n.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-proto.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-scala.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-tex.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-vb.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-vhdl.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-wiki.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-xq.js"></script>
  <script src="/javascripts/vendor/Prettify/prettify-loader.js"></script>
	<!-- <script src="/javascripts/vendor/gist.io.js"></script> -->
  <script src="/javascripts/main.js"></script>
<% end %>