<section class="content home">
  <header>
    <h1>Tycho</h1>
    <h2 class="entry-title">Gist-powered writing</h2>
  </header>
  <div id="gistbody" class="instapaper-body entry-content">
    
    <%= markdown :index %>
    
  </div>
</section>