<section class="content">
  <header>
    <h1 id="gistid" data-gist-id="<%=gist_id%>"><a href="https://gist.github.com/<%=gist_id%>">gist #<%=gist_id%></a></h1>
    <h2 id="description" class="loading instapaper-title entry-title">Loading…</h2>
  </header>
  <div id="gistbody" class="instapaper-body entry-content"></div>
  <footer>
    <p><a href="/">gist.io</a> &middot; writing for hackers &middot; zero setup &middot; publish in seconds</p>
  </footer>
</section>


