<section class="content home">
  <header>
    <h1 class="entry-title">Roughdraft is GitHub Gists, made pretty.</h1>
  </header>
  <div class="instapaper-body entry-content">
    
    <%= markdown :index %>
    
  </div>
</section>