<section class="content instapaper-body home">
  <header>
    <h1 class="entry-title">Roughdraft is GitHub Gists, made pretty.</h1>
  </header>

  <p>Sometimes you have something to say that's longer than a Tweet, but too small for a blog. Enter Roughdraft. The concept is simple: writing for the web, backed by <a href="https://gist.github.com">GitHub Gists</a>.</p>

  <h3 id="how_it_works">How it works</h3>

  <ol>
    <li><a href="https://gist.github.com">Create a public, <a href="http://daringfireball.net/projects/markdown/">Markdown</a>-formatted Gist</a> on Github with one or more  files.</li>
    <li>Note the Gist ID. It’s at the end of the URL; example: <code class="no-prettify">gist.github.com/jedfoster/<b>4339935</b></code>.</li>
    <li>See your Gist, made pretty, at <code>roughdraft.io/<b>gist-id</b></code></li>
  </ol>
  
  <p id="bookmarklet_steps"><b>Or</b></p>

  <ol>
    <li>Drag the bookmarklet to your bookmarks bar.</li>
    <li>From a Gist page, click the bookmarklet to open the Gist in Roughdraft.
    <li>Click it elsewhere on the web to append Roughdraft links to every Gist link on the page.</li>
  </ol>

  <p id="bookmarklet"><a href="javascript: (function(e,a,g,h,f,c,b,d){if(!(f=e.jQuery)||g>f.fn.jquery||h(f)){c=a.createElement('script');c.type='text/javascript';c.src='http://ajax.googleapis.com/ajax/libs/jquery/'+g+'/jquery.min.js';c.onload=c.onreadystatechange=function(){if(!b&&(!(d=this.readyState)||d=='loaded'||d=='complete')){h((f=e.jQuery).noConflict(1),b=1);f(c).remove()}};a.documentElement.childNodes[0].appendChild(c)}})(window,document,'1.4.2',function($,L){var gist_re=/^https:\/\/gist\.github\.com\/([\w-]+)*?\/*?(\d+)$/i,rel_re=/^\/?(\d+)$/,on_gist=gist_re.test(location.href);if(on_gist){i=location.pathname.split(/\/([\w-]+)\/(\d+)/);location.href='http://'+i[1]+'.roughdraft.io/'+i[2];}else{$('a').each(function(){var b=$(this).attr('href')||'',a=b.match(gist_re);if(on_gist&&!(a&&a[2])){a=b.match(rel_re)} if(a&&a[2]){if(typeof(a[1])=='undefined'){a[1]='www';} $(this).after(' <a href=&quot;http://'+a[1]+'.roughdraft.io/'+a[2]+'&quot;>[roughdraft.io]</a>')}});}});" title="Drag me to your bookmarks bar.">Roughdraft Bookmarklet</a></p>

  <h3 id="formats">Formats</h3>

  <p>Roughdraft supports <a href="https://help.github.com/articles/github-flavored-markdown" target="new">GitHub-flavored Markdown</a>. In addition to all of the usual Markdown syntax, GFM supports fenced code blocks and syntax highlighting.</p>
  
  <p>This:</p>
  
  <pre><code>```ruby
require 'redcarpet'
markdown = Redcarpet.new("Hello World!")
puts markdown.to_html
```</code></pre>

  <p>Becomes:</p>

  <pre><code lang="ruby">require 'redcarpet'
markdown = Redcarpet.new("Hello World!")
puts markdown.to_html
</code></pre>
    
    
  <p>You can also use images and even <a href="http://www.emoji-cheat-sheet.com/" target="new">emoji</a>! <img class="emoji" title=":metal:" alt=":metal:" src="/images/emoji/metal.png" height="20" width="20" align="absmiddle"> </p>

  <p>Your Gist&#8217;s <em>description</em> field will be used as the headline for your post.</p>
  
  

  <h3 id="user_pages">User Pages</h3>

  <p>Roughdraft is built with the GitHub API, so we can do some really cool stuff, like give every GitHub user their own Roughdraft subdomain!</p>

  <p>Visit <code><b>username</b>.roughdraft.io</code> to see a list of all the public, Markdown-formatted Gists belonging to <code><b>username</b></code>. Example: <code class="no-prettify"><a href="http://idan.roughdraft.io"><b>idan</b>.roughdraft.io</a></code>.</p>

  <hr>

  <h2 id="mad_props">Mad Props</h2>

  <p>This project was inspired by, and borrows code from, <a href="http://gazit.me">Idan Gazit&#8217;s</a> <a href="http://gist.io">gist.io</a>. My thanks to Idan for the original. </p>
  
</section>

<% if settings.environment == :production %>
  <script src="/javascripts/app.js"></script>
<% else %>
	<script src="/javascripts/vendor/jquery-1.8.2.js"></script>
	<script src="/javascripts/vendor/Prettify/prettify.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-css.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-scss.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-sql.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-vim.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-yaml.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-apollo.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-clj.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-go.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-hs.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-lisp.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-lua.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-ml.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-n.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-proto.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-scala.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-tex.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-vb.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-vhdl.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-wiki.js"></script>
  <script src="/javascripts/vendor/Prettify/lang-xq.js"></script>
  <script src="/javascripts/vendor/Prettify/prettify-loader.js"></script>
  <script src="/javascripts/main.js"></script>
<% end %>