<section class="content instapaper-body home">
  <header>
    <h1 class="entry-title">Roughdraft is GitHub Gists, made pretty.</h1>
  </header>

  <p>Sometimes you have something to say that won&#8217;t fit on Twitter, but is too small to justify a Tumblr. Enter Roughdraft.  </p>

  <h3 id="how_it_works">How it works</h3>

  <p>Alternatively, you can drag this <a href="javascript:(function(e,a,g,h,f,c,b,d){if(!(f=e.jQuery)||g>f.fn.jquery||h(f)){c=a.createElement('script');c.type='text/javascript';c.src='http://ajax.googleapis.com/ajax/libs/jquery/'+g+'/jquery.min.js';c.onload=c.onreadystatechange=function(){if(!b&&(!(d=this.readyState)||d=='loaded'||d=='complete')){h((f=e.jQuery).noConflict(1),b=1);f(c).remove()}};a.documentElement.childNodes[0].appendChild(c)}})(window,document,'1.4.2',function($,L){var gist_re=/^https:\/\/gist\.github\.com\/([\w-]+)\/(\d+)/i,rel_re=/^\/?(\d+)$/,on_gist=gist_re.test(location.href);if(on_gist){i=location.pathname.split(/\/([\w-]+)\/(\d+)/);location.href='http://'+i[1]+'.roughdraft.dev/'+i[2];}else{$('a').each(function(){var b=$(this).attr('href')||'',a=b.match(gist_re);if(on_gist&&!(a&&a[2])){a=b.match(rel_re)} if(a&&a[2]){$(this).after(' <a href=&quot;http://'+a[1]+'.roughdraft.dev/'+a[2]+'&quot;>[roughdraft.io]</a>')}});}});" title="Roughdraft bookmarklet">bookmarklet</a> to your bookmarks bar. Click it when you’re on a Gist page, and it will take you to the corresponding Roughdraft page. Click it when you aren’t on a Gist page, and it will append Roughdraft links to every Gist link it finds on the page.</p>

  <ol>
  <li><a href="https://gist.github.com">Create a public Gist</a> on Github with one or more <a href="http://daringfireball.net/projects/markdown/">Markdown</a> files.</li>
  <li>Note the Gist ID number. It’s usually a longish number like <code>12345678</code>.</li>
  <li>View your writing presented nicely at roughdraft.dev/<em>gist-id</em></li>
  </ol>

  <h3 id="content">Content</h3>

  <p>Roughdraft supports Markdown-formatted Gists. Your Gist&#8217;s <em>description</em> field will be used as the headline for your post. </p>

  <h2 id="mad_props">Mad Props</h2>

  <p>This project is a deliberate and painstaking rip-off of <a href="http://gazit.me">Idan Gazit&#8217;s</a> <a href="http://gist.io">gist.io</a>, which is wonderful and you should check it out. I ported gist.io to Ruby both as a coding exercise and to build out some additional features I wanted. My thanks to Idan for his work on the original, which is very well done. You should follow him on <a href="http://twitter.com/idangazit">Twitter</a>. </p>
  
</section>