<section class="content">
  <header>
    <h1><a href="http://<%= 
    if @user
      "#{@user.id}.#{APP_DOMAIN}"
    else 
      APP_DOMAIN
    end %>">Roughdraft</a></h1>
    <h2 class=" instapaper-title">That Gist don't exist, yo!</h2>
  </header>
</section>