<section class="content">
  <header>
    <h1><a href="http://<%= 
    if @user
      "#{@user['login']}.#{APP_DOMAIN}"
    else 
      APP_DOMAIN
    end %>">Tycho</a></h1>
    <h2 id="description" class=" instapaper-title entry-title">That Gist don't exist, yo!</h2>
  </header>
  <div id="gistbody" class="instapaper-body entry-content">
    
  </div>
</section>