<form action="/create.json" method="post" class="content gist-create">
  <input type="text" name="title" id="title" placeholder="Draft Title">

  <div class="edit_container"><div class="pre_container" id="roughdraft-file1-md" data-filename="roughdraft-file1.md"></div></div>
</form>
