<form action="/create.json" method="post" class="content gist-create">
  <input type="text" name="title" id="title" placeholder="Draft Title">

  <div class="edit_container">

    <div class="edit-header">
      <input name="filename" value="" placeholder="roughdraft-file1.md">

      <span class="tooltip"><span class="tooltip_contents">Files in a Draft are display in alphabetical order by filename.<br> Only files ending in <code>.md</code> or <code>.markdown</code> will be rendered by Roughdraft.<br> <b>Tip:</b> break up a long draft into chapters.</span></span>
    </div>

    <div class="pre_container" id="roughdraft-file1-md" data-filename="roughdraft-file1.md"></div>
  </div>
    
  <a href="#" class="button" id="add-a-file">Add a File</a>
</form>
