<form class="gist-edit">
  <fieldset>
    <input type="text" name="general_text" id="general_text" placeholder="Title" />
    <textarea name="general_textarea" id="general_textarea" placeholder="Content"></textarea>

    <button type="submit">Save</button> <a href="#" class="button preview">Preview</a>
  </fieldset>
</form>