.tooltip {
  cursor: pointer;
  display: inline-block;  
  margin-left: 0.25em;
  
  &:after {
    @extend %delta-color-button;
    
    padding: 0 0.66667em;
    font-family: $heading_font_family;
    content: "?";
    font-size: 0.75em !important;
    font-weight: bold;
  }

  .tooltip_contents {
    @extend %delta-color-button;

    background: transparentize(lighten($delta_color_charlie, 30%), 0.1);
    visibility: hidden;
    position: absolute;
    margin: 0 0 0 em(42);
    max-width: em(300);
    z-index: 9999;
  }
 
  &:hover .tooltip_contents{
    visibility: visible;
    // background: transparentize(lighten($delta_color_charlie, 20%), 0.2);
  }
}