@mixin roughdraft-button($color: $button-color, $font-family: $button-font-family) {
  @include button-default($text-color: $color, $border-radius: 4.5);

  border: 1px solid transparentize($color, 0.6); // adjust_hue(desaturate(lighten(#718c00, 50), 61), 3)
  background: transparentize($color, 0.9); // desaturate(lighten(#718c00, 63), 63)
  display: inline-block;
  width: auto;
  text-align: center;
  font-family: $font-family;
  margin-right: 1.25em;

  @media #{$desktop} {
    margin: 0 0 1.5em 0;
  }

  &:hover {
    border: 1px solid transparentize(darken($color, 10), 0.5);
    background: transparentize($color, 0.45);
    color: darken($color, 10);
    text-decoration: none;
  }
}