<form action="/create.json" method="post" class="content gist-create">
  <input type="text" name="title" id="title" placeholder="Draft Title">
  
  <a href="#" class="button" id="add-a-file">Add a File</a>
</form>
