.content {
  @extend %readable-body;

  margin: 1.5em auto 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid $border_color;

  header {
    h1 {
      margin-bottom: 1.5em;
      @media #{$mobile} {
        margin-bottom: 0.5em;
      }
    }
  }
  
  aside.metadata {
    @extend %gist-metadata;
  }  
}