.edit_container {
  @extend %stipe_input_fields;
  @extend %textarea;
  
  padding: 0;
  margin-bottom: 1.66667em;
  position: relative;
  background: transparentize($bravo_gray, 0.9);

  @media #{$mobile} {
    margin-bottom: 1em;
  }
  
  .edit-header {
    display: block;
    margin: 0;
    line-height: 1;

    text-align: left;
    color: $delta_gray;
    padding: 0.4em;
    
    input {
      @extend %input_fields;
    	height:2em;
    	font-size: em($heading_6);
      width: 40%;
    	display: inline-block;
    	margin:0;
    }
  }

  .pre_container {
    postition: absolute;
    top: 2.75em;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .ace_editor {
    font-family: $code-font-family;
  }
}

.ace_gutter {
  .ace_layer {
    font-size: em($heading_6);
    color: $golf_gray;
  }
}

.ace_scroller, .ace_gutter {
  border-top: 1px solid $form_field_border;
}

.ace_scroller, .ace_gutter, .edit_container {
  /* useful if you don't want a bg color from leaking outside the border: */
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}