.site-header {
  .github {
    text-align: left;

    a.login {
      @include roughdraft-button($color: $fox_gray);
    }
    a.logout {
      @include roughdraft-button($color: $alpha_color_echo);
    }

    a, span {
      font-size: em($small_point_size) !important;
      float: left;
      clear: both;
    }

    @media #{$tablet} {
      position: absolute;
      top: initial;
      top: 0.5em;
      right: 18px;
    }

    @media #{$desktop} {
      @extend %left-responsive-sidebar;

      top: initial;
      bottom: 0.5em;
      font-size: 1em;

      a, span {
        font-size: em($heading_6) !important;

      }
    }
  }
}