.site-header {
  .github {
    text-align: right;
    max-width: 50%;

    a.login {
      @extend %gray-button;
    }
    a.logout {
      @extend %alpha-color-button;

      margin-right: 0;
    }

    a {
      font-size: em($small_point_size);
      margin-right: 0;
      margin-left: 1.25em;
    }

    @media #{$tablet} {
      position: absolute;
      top: initial;
      top: 0.5em;
      right: 18px;
    }

    @media #{$desktop} {
      @extend %left-responsive-sidebar;

      top: initial;
      bottom: 0.5em;
      font-size: 1em;

      a {
        margin-left: 0;
        font-size: em($heading_6);
        float: left;
        clear: both;
      }
    }
  }
}