///* CSS for jQuery Reveal Plugin
// * Maintained for Foundation. foundation.zurb.com
// * Free to use under the MIT license.
// * http://www.opensource.org/licenses/mit-license.php
// */
//
///* Reveal Modals ---------------------- */

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $bravo_gray;
  background: transparentize($bravo_gray, 0.35);
  z-index: 40;
  display: none;
  top: 0;
  left: 0;
}

.reveal-modal {
  position: absolute;
  z-index: 41;
  top: 0;
  left: 50%;
  padding: 0 1.5em;
  display: none;
  visibility: hidden;
  background: transparentize($white, 0.05);
  width: 50%;
  margin-left: -25%;

  .content {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.reveal-close {
  background: $white;
  display: block;
  width: auto;
  border-radius: em(4.5);
  margin: 1.5em auto 0;

  .close-icon {
    @include roughdraft-button($color: $delta_color_charlie);

    display: block;

    @media #{$desktop} {
       margin: 0;
    }
  }
}

@media #{$tablet} {
  .reveal-modal-bg {
    position: absolute;
  }

  .reveal-modal {
    width: 80%;
    margin-left: -40%;
    padding: 0 1em 4em;
    height: auto;
    min-height: 100%;
  }
}

/* Mobile */
@media #{$mobile} {
  .reveal-modal-bg {
    position: absolute;
    background: none;
  }

  .reveal-modal {
    width: 100%;
    margin-left: -50%;
  }
}





  //  /* NOTES
  //  Close button entity is &#215;
  //
  //  Example markup
  //  <div id="myModal" class="reveal-modal">
  //   <h2>Awesome. I have it.</h2>
  //   <p class="lead">Your couch.  I it's mine.</p>
  //   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
  //   <a class="close-reveal-modal">&#215;</a>
  //  </div> */
