.site-header {
  margin-bottom: 1.5em;
  font-family: $heading_font_family;

  .logo {
    border-bottom: 1px solid $border_color;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
  }

  h1 {
    font-size: em($heading_3);
    color: $charlie_gray;
    margin-right: 0.5em;
  }

  span {
    @extend %headings_2;

    font-size: em($heading_6);
    display: inline-block;
  }
  
  
  nav a {
    display: block;
    width: 100%;
  }

  .rss {
    font-size: em($small_point_size);
  }

  @media #{$tablet} {
    h1, span, nav a {
      display: inline;
    }

    span {
      display: block;
    }
    
    nav a {
      margin-right: 1em;
      padding-left: 1em;
      border-left: 1px solid $border_color;
    }

    nav a:only-child, nav a:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }
  }

  @media #{$mobile} {
    nav a {
      display: block;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  @media #{$desktop} {
    @extend %left-responsive-sidebar;

    .logo {
      padding-top: 0;
    }
  }
}
