.site-header {
  margin-bottom: 1.5em;

  hgroup {
    border-bottom: 1px solid $border_color;
    margin-bottom: 1.5em;
    padding: 0.5em 0 0.5em;
  }

  h1 {
    font-size: em($heading_3);
    color: $charlie_gray;
  }

  h2 {
    font-size: em($heading_6);
  }

  a {
    display: block;
    width: 100%;
    font-family: $heading_font_family;
  }

  @media #{$desktop} {
    @extend %right-responsive-sidebar;

    hgroup {
      padding-top: 0;
    }
  }

  @media #{$tablet} {
    h1, h2, a {
      display: inline;
    }
    h2 {
      display: block
    }
    a:last-child {
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1px solid $border_color;
    }
  }
}