.site-header {
  margin-bottom: 1.5em;
  font-family: $heading_font_family;

  .logo {
    border-bottom: 1px solid $border_color;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
  }

  h1 {
    font-size: em($heading_3);
    color: $charlie_gray;
    margin-right: 0.5em;
  }

  span {
    @extend %headings_2;

    font-size: em($heading_6);
    display: inline-block;
  }

  a {
    display: block;
    width: 100%;
  }

  .rss {
    font-size: 0.666em;
  }

  @media #{$tablet} {
    h1, span, a {
      display: inline;
    }

    span {
      display: block;
    }

    a {
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1px solid $border_color;
    }

    a:only-child, a:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }
  }

  @media #{$mobile} {
    a {
      display: block;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  @media #{$desktop} {
    @extend %right-responsive-sidebar;

    .logo {
      padding-top: 0;
    }
  }
}