.site-header {
  margin-bottom: 1.5em;
  font-family: $heading_font_family;

  .logo {
    border-bottom: 1px solid $border_color;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
  }

  h1 {
    font-size: em($heading_3);
    color: $charlie_gray;
    margin-right: 0.5em;
  }

  span {
    @extend %headings_2;

    font-size: em($heading_6);
    display: inline-block;
  }

  

  @media #{$tablet} {
    h1, span, a {
      display: inline;
    }

    span {
      display: block;
    }
    
    a {
      margin-right: 1em;
    }

    a:first-child {
      padding-right: 1.33em;
      border-right: 1px solid $border_color;
    }

    a:only-child {
      padding-right: 0;
      border-right: 0;
    }
  }

  @media #{$mobile} {
    a {
      display: block;

      &:first-child {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  @media #{$desktop} {
    @extend %left-responsive-sidebar;

    .logo {
      padding-top: 0;
    }

    a {
      display: block;
      width: 100%;
    }
  }
}