.unrenderable-files {
  padding-top: 3em;
  margin-top: 3em;
  border-top: 1px solid $border_color;

  h3 {
    @extend %headings_5;
  }

  @media #{$desktop} {
    @extend %right-responsive-sidebar;

    padding-top: 0;
    margin-top: 0;
    border-top: 0;

    h3 {
      padding-bottom: 1.5em;
      margin-bottom: 1.5em;
      border-bottom: 1px solid $border_color;
    }
  }
}