.user-gist-list {
  &.content ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    padding: 0.75em 0;
    clear: both;
  }

  a {
    font-size: em($heading_4);
  }

  .posted {
    display: block;
    font-style: italic;
  }

  .edit {
    @extend %button; //($color: $charlie_color_charlie);
    font-size: em($heading_6);
  }
}

%gist-list-section {
  li {
    &:first-of-type {
      &:before {
        font-style: italic;
        display: block;
        border-bottom: 1px solid $border_color;
        margin-bottom: em(20);
      }
    }
  }
}

.latest-gist {
  @extend %gist-list-section;

  li {
    &:first-of-type {
      &:before {
        content: "Latest draft:";
        font-size: em($heading_4);
      }
    }
  }
}

.gists {
  @extend %gist-list-section;

  li {
    &:first-of-type {
      &:before {
        content: "From the archives:";
      }
    }
  }
}