<div class="toadstool_header toadstool_subheader">
  <%= markdown @example.markdown %>
</div>

<article class="element_example">
  
  <%= html_example @example.partial %>
</article>

<% @example.sass.each do |path| %>
  <%= sass_example path %>
<% end %>