<form>
  <fieldset>
    <ol>
      <li>
        <label for="general_text">General textarea input<span>(optional)</span></label>
        <textarea name="general_textarea" id="general_textarea" placeholder="general textarea"></textarea>
        <p class="instructional">We think that you need help with this one, so ...</p>
      </li> 
    </ol>
  </fieldset>
</form>